body {
background: #0b0b0b url("https://i.imgur.com/0dcQlWg.jpg") center no-repeat !important;
background-size: 100% 100% !important;
background-attachment: fixed !important;
}

#footer {
background-color: rgba(0,0,0,0.6) !important;

}
