<style type="text/css">

.news-detail {
height: 130px;
}

.col-md-9 .owl-wrapper-outer .owl-item {
float: left;
width: 155px !important;
}
.owl-carousel {
margin-left: 1px !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(1) {
content: url("https://i.imgur.com/vLO0smP.jpg") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(2) {
content: url("https://i.imgur.com/w0srqfr.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(3) {
content: url("https://i.imgur.com/iemsfXy.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(4) {
content: url("https://i.imgur.com/SJlNUFP.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(5) {
content: url("https://i.imgur.com/7gM6lFv.jpg") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(6) {
content: url("https://i.imgur.com/3K85yUP.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(7) {
content: url("https://i.imgur.com/vqX3Xd5.jpg") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(8) {
content: url("https://i.imgur.com/zSxAR5i.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(9) {
content: url("https://i.imgur.com/wtvN89k.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(10) {
content: url("https://i.imgur.com/dnLyT6l.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(11) {
content: url("https://i.imgur.com/UqLcDZW.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(12) {
content: url("https://i.imgur.com/cmLZesR.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(13) {
content: url("https://i.imgur.com/IlFoGJH.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(14) {
content: url("https://i.imgur.com/cTmb8mP.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(15) {
content: url("https://i.imgur.com/S6YA6er.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(16) {
content: url("https://i.imgur.com/76G2mFL.jpg") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(17) {
content: url("https://i.imgur.com/nSLsK4X.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(18) {
content: url("https://i.imgur.com/P4iJypY.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(19) {
content: url("https://i.imgur.com/7ChKxRF.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(20) {
content: url("https://i.imgur.com/5bQ3TKd.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(21) {
content: url("https://i.imgur.com/NwP7Tf7.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(22) {
content: url("https://i.imgur.com/NxlqAJ9.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(23) {
content: url("https://i.imgur.com/NMpVL0S.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(24) {
content: url("https://i.imgur.com/IsTqRks.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(25) {
content: url("https://i.imgur.com/mqRfhN7.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(26) {
content: url("https://i.imgur.com/AicRGeu.jpg") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(27) {
content: url("https://i.imgur.com/z3N2065.jpg") !important;
}


border: 1px solid transparent !important;
padding: 2px !important;
}

</style>
